<div id="<%= dom_id @cart %>" style="padding:10px;">
  <h2 class="font-bold text-lg mb-3"><%= t('.title') %></h2>
  <table class="table-auto">
    <tbody>
    <% @cart.line_items.each do |line_item| %>
      <%= render partial: 'line_items/line_item', locals: { line_item: line_item, cart: @cart, current_item: @current_item, show_buttons: true } %>
    <% end %>
    </tbody>
    <tfoot>
      <%= render partial: 'carts/cart_total', locals: { cart: @cart } %>
    </tfoot>
  </table>
  <div class="flex mt-1">
    <% unless controller.action_name == 'new' %>
      <%= button_to t('.empty'), cart, method: :delete,
                    class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
      <%= button_to t('.checkout'), new_order_path(locale: I18n.locale), method: :get,
                    class: 'ml-4 rounded-lg py-1 px-2 text-black bg-green-200' %>
    <% end %>
  </div>
</div>